* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.clients {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.client {
  width: 18rem;
  height: 25rem;
  margin: 2rem auto;
  border: 0.3rem solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
